<div class="container widget-item shot-assists" *ngFor="let pass of passes">
    <div class="flex">
        <div class="circle medium-button active-circle" [ngClass]="{'active-circle': isActive(pass)}" (click)="selectPass(pass)">
            <div class="inner-circle" *ngIf="isActive(pass)">

            </div>
        </div>
        <div class="time gap">
            {{pass.time | formatTime}}
        </div>
        <div class="state small-text grey gap">
            {{pass.gameState}}
        </div>
    </div>
    <div class="flex">
        <div class="hover" (click)="addToPlaylist(pass)">
            <div class="medium-button add_to_playlist" [ngClass]="pass.saved ? 'added_to_playlist' : 'add_to_playlist'"></div>
        </div>
        <div class="hover" (click)="playOne(pass)">
            <div class="medium-button play_default"></div>
        </div>
    </div>
</div>

