<div class="video" *ngIf="to_play.length > 0 || show_video">
    <iframe [src]="url" width="100%" height="100%" frameborder="0"></iframe>
</div>
<!-- <div class="video" *ngIf="show_video">
    <iframe [src]="url" width="100%" height="100%" frameborder="0"></iframe>
</div> -->
<div class="video" *ngIf="(to_play.length == 0 || !to_play) && !show_video">
</div>

<div class="button-wrapper">
    <button *ngIf="widget != 'playlist'" class="button" (click)="playAll()">
        {{'play_all' | translate}}
    </button>
    <button *ngIf="widget != 'playlist'" class="button" (click)="playSelected()">
        {{'play_selected' | translate}}
    </button>
    <button *ngIf="widget == 'playlist'" class="button" [ngClass]="{'active': selected_filters.length > 0}"  (click)="showPopUp()">
        {{'filter' | translate}}
    </button>
</div>

<app-pop-up *ngIf="pop_up"
    [pop_up_action]="'filter'"
    (filtered)="filterPlaylist($event)"
>
</app-pop-up>