.thumbs-up {
    background-image: url(/assets/positive_big.svg);
    background-size: 32px;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 5px;
}


.thumbs-down {
    background-image: url(/assets/negative_big.svg);
    background-size: 32px;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 5px;
}


.info {
    background-image: url(/assets/neutral_big.svg);
    background-size: 32px;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 5px;
}


.video-notes{
    font-weight: 700;
}