<div class="container widget-item goals" *ngFor="let goal of goals">
  <div class="flex">
    <div class="circle medium-button active-circle" [ngClass]="{'active-circle': isActive(goal)}" (click)="selectGoal(goal)">
      <div class="inner-circle" *ngIf="isActive(goal)">

      </div>
    </div>
    <div class="time gap">
      {{goal.time | formatTime}}
    </div>
    <div class="state small-text grey gap">
      {{goal.gameState}}
    </div>
  </div>
  <div class="flex">
    <div class="hover" (click)="addToPlaylist(goal)">
      <div class="medium-button add_to_playlist" [ngClass]="goal.saved ? 'added_to_playlist' : 'add_to_playlist'"></div>
    </div>
    <div class="hover" (click)="playOne(goal)">
      <div class="medium-button play_default"></div>
    </div>

  </div>
</div>
