.main-wrapper {
  position: absolute;
  width: -webkit-fill-available;
  max-height: 306px;
  overflow: auto;
  z-index: 1;
  .game {
    background-color: #ffffff;
    padding-bottom: 12px;

    .game-wrapper {
      border: 2px solid #c1c7cd;
      border-radius: 8px;
      width: 100%;
      max-height: 90px;
      padding: 12px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .logo {
        width: 56px;
        height: 56px;
      }

      .info {
        .small {
          height: 12px;
        }

        .medium {
          height: 22px;
        }

        .big {
          height: 28px;
        }

        div {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      &.selected {
        border-color: #1d5cff;
        color: #1d5cff;
      }
    }

    .game-wrapper:hover {
      background-color: #f4f4f4;
    }
  }

  .game:first-of-type {
    padding-top: 2px;
  }
}
