<div class="container widget-item shifts" *ngFor="let shift of shifts">
    <div class="flex">
        <div class="circle medium-button active-circle" [ngClass]="{'active-circle': isActive(shift)}" (click)="selectShift(shift)">
            <div class="inner-circle" *ngIf="isActive(shift)">

            </div>
        </div>
        <div class="time gap">
            {{shift.start | formatTime}} - {{shift.end | formatTime}}
        </div>
        <div class="state small-text grey gap">
            {{shift.gameState}}
        </div>
    </div>
    <div class="flex">
        <div class="hover" (click)="addToPlaylist(shift)">
            <div class="medium-button add_to_playlist" [ngClass]="shift.saved ? 'added_to_playlist' : 'add_to_playlist'"></div>
        </div>
        <div class="hover" (click)="playOne(shift)">
            <div class="medium-button play_default"></div>
        </div>
        
    </div>
</div>